.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    /* padding: 1rem; */
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand a {
    color: rgb(230, 227, 227);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-brand a:hover {
    color: #908f8f;
}
.nav-group {
    align-items: right;
    display: flex;
}

.nav-item a {
    color: rgb(230, 227, 227);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #908f8f;
}