.Button {
    padding: 10px;
    margin-top: 10px;
    background-color: brown;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.group {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
}

.group label {
    width: 30%;
    font-size: larger;
    color: brown;
}

.group input {
    font-size: larger;
    color: brown;
}

.Form {
    border: 1px solid bisque;
    border-radius: 10px;
    background-color: bisque;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10%;
    transition: opacity 2s ease-out;
    /* animation: hideAnimation 1s forwards; */
}

@keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
